.heroe-label{
    margin-right: 24px;
    width: 150px
}

.input{
    width: 300px;
}
.container-form{
    padding:32px
}

.form-field-heroe{
    display:flex;
    justify-content: space-between;
    align-items:center
 
}